<!DOCTYPE html>
<html>
<head>
    <style>
        table {
            border-collapse: collapse;
            width: 100%;
        }

        th, td {
            text-align: left;
            padding: 8px;
            border-bottom: 1px solid #ddd;
        }

        .sort-indicator {
            margin-left: 5px;
        }
    </style>
</head>
<body>
    <form action="/table" method="get">
        <label for="ExerciseID">Exercise ID:</label>
        <input type="text" id="ExerciseID" name="ExerciseID" value="{{ filter_exercise_id }}">
        <br>
        <label for="ExerciseName">Exercise Name:</label>
        <input type="text" id="ExerciseName" name="ExerciseName" value="{{ filter_exercise_name }}">
        <br>
        <input type="submit" value="Apply Filter">
    </form>
    <br>
    <table>
        <tr>
            <th><a href="?sort_column=ExerciseID">Exercise ID</a></th>
            <th><a href="?sort_column=ExerciseName">Exercise Name</a></th>
            <th><a href="?sort_column=ExerciseDifficulty">Exercise Difficulty</a></th>
            <th><a href="?sort_column=EquipmentName">Equipment Name</a></th>
            <th><a href="?sort_column=Count">Count</a></th>
            <th><a href="?sort_column=BodyPlane">Body Plane</a></th>
            <th><a href="?sort_column=BodyArea">Body Area</a></th>
            <th><a href="?sort_column=IsPrimary">Is Primary</a></th>
            <th><a href="?sort_column=IsSecondary">Is Secondary</a></th>
            <th><a href="?sort_column=VideoID">Video ID</a></th>
            <th><a href="?sort_column=VideoTitle">Video Title</a></th>
            <th><a href="?sort_column=RelationID">Relation ID</a></th>
            <th><a href="?sort_column=RelationType">Relation Type</a></th>
        </tr>
        {% for row in table %}
        <tr>
            <td>{{ row[0] }}</td>
            <td>{{ row[1] }}</td>
            <td>{{ row[2] }}</td>
            <td>{{ row[3] }}</td>
            <td>{{ row[4] }}</td>
            <td>{{ row[5] }}</td>
            <td>{{ row[6] }}</td>
            <td>{{ row[7] }}</td>
            <td>{{ row[8] }}</td>
            <td>{{ row[9] }}</td>
            <td>{{ row[10] }}</td>
            <td>{{ row[11] }}</td>
            <td>{{ row[12] }}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>
