<!DOCTYPE html>
<html>
<head>
    <title>Entries</title>
    <style>
        table {
            border-collapse: collapse;
        }

        th, td {
            border: 1px solid black;
            padding: 8px;
        }

        th {
            background-color: lightgray;
        }
    </style>
</head>
<body>
    <h1>Entries</h1>
    <table>
        <tr>
            <th><a href="?sort=exercise">Exercise</a></th>
            <th><a href="?sort=body_parts_worked">Body Parts Worked</a></th>
            <th><a href="?sort=equipment_used">Equipment Used</a></th>
            <th><a href="?sort=youtube_link">Youtube Link</a></th>
            <th><a href="?sort=youtube_channel">Youtube channel</a></th>
        </tr>
        {% for entry in entries %}
            <tr>
                <td>{{ entry[0] }}</td>
                <td>{{ entry[1] }}</td>
                <td>{{ entry[2] }}</td>
                <td><a href="{{ row[3] }}">Link</a></td>
                <td>{{ row[4] }}</td>
            </tr>
        {% endfor %}
    </table>
    <br>
    <form method="get">
        <label for="exercise">Exercise:</label>
        <input type="text" id="exercise" name="exercise">
        <br>
        <label for="body_parts">Body Parts Worked:</label>
        <input type="text" id="body_parts" name="body_parts">
        <br>
        <label for="equipment">Equipment Used:</label>
        <input type="text" id="equipment" name="equipment">
        <br>
        <label for="youtube_channel">Youtube Channel:</label>
        <input type="text" id="youtube_channel" name="youtube_channel">
        <br>
        <input type="submit" value="Filter">
    </form>
</body>
</html>
